<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShoppingBasket.SQLService.Properties.Settings.ShoppingDataBaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ShoppingDataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingBasket.SQLService.Properties.Settings.ShoppingBasketDataSetConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ShoppingBasketDataSet.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingBasket.SQLService.Properties.Settings.ShoppingDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ShoppingData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>